* {

font-family: 'Cormorant Garamond', serif;

font-size: 20px;

background-color: rgb(247, 243, 236);
 

}

h1 {

       font-family: 'Cormorant Garamond', serif; 
}


.lead {
 font-family: 'Cormorant Garamond', serif; 

}






textarea {

        background-image: url(travelbg.jpeg);

}

.button {

        background-image: url(travelbg.jpeg);
        
        }