* {


    /* background-image: url(travelbg.jpeg); */

 

}




.container {
  
   
    margin-top: 15px;
    

    background: orange;
    


}
.section  {

    background-color: orangered;
}

.subheader {

    /* background-image: url(travelbg.jpeg); */

}

textarea {

        background-image: url(travelbg.jpeg);

}

.button {

    background-image: url(depositphotos_173520066-stock-illustration-vector-globe-vintage-world-map.jpg)

}